<div class="chart-wrap" [class.compact]="compact">
  <div class="charts-stack" #stack (mouseleave)="onMouseLeave()">
    @if (isZoomed) {
      <button
        type="button"
        class="zoom-reset"
        (click)="resetZoom()"
        title="Reset zoom (Ctrl/⌘ + scroll or pinch to zoom)"
      >
        Reset zoom
      </button>
    }
    @if (showPrimary) {
      <canvas
        #primaryCanvas
        class="mc primary-h"
        (mousemove)="onHover($event)"
        (mousedown)="onMouseDown($event)"
        (touchstart)="onTouchStart($event)"
        (touchend)="onTouchEnd($event)"
        (touchcancel)="onTouchEnd($event)"
      ></canvas>
    }
    @if (showSpeedPanel) {
      <canvas
        #speedCanvas
        class="mc speed-h"
        (mousemove)="onHover($event)"
        (mousedown)="onMouseDown($event)"
        (touchstart)="onTouchStart($event)"
        (touchend)="onTouchEnd($event)"
        (touchcancel)="onTouchEnd($event)"
      ></canvas>
    }
    @if (showHR) {
      <canvas
        #hrCanvas
        class="mc hr-h"
        (mousemove)="onHover($event)"
        (mousedown)="onMouseDown($event)"
        (touchstart)="onTouchStart($event)"
        (touchend)="onTouchEnd($event)"
        (touchcancel)="onTouchEnd($event)"
      ></canvas>
    }
    @if (showCadence) {
      <canvas
        #cadCanvas
        class="mc cad-h"
        (mousemove)="onHover($event)"
        (mousedown)="onMouseDown($event)"
        (touchstart)="onTouchStart($event)"
        (touchend)="onTouchEnd($event)"
        (touchcancel)="onTouchEnd($event)"
      ></canvas>
    }
    @if (_hasDrift && showDrift) {
      <canvas
        #driftCanvas
        class="mc drift-h"
        (mousemove)="onHover($event)"
        (mousedown)="onMouseDown($event)"
        (touchstart)="onTouchStart($event)"
        (touchend)="onTouchEnd($event)"
        (touchcancel)="onTouchEnd($event)"
      ></canvas>
    }
    @if (_hasElevation && showElevation) {
      <canvas
        #elevCanvas
        class="mc elev-h"
        (mousemove)="onHover($event)"
        (mousedown)="onMouseDown($event)"
        (touchstart)="onTouchStart($event)"
        (touchend)="onTouchEnd($event)"
        (touchcancel)="onTouchEnd($event)"
      ></canvas>
    }
    @if (enableBrush && selectionStartIdx !== null && selectionWidthPx > 0) {
      <div
        class="brush-rect"
        [style.left.px]="selectionLeftPx"
        [style.width.px]="selectionWidthPx"
      ></div>
    }
    @if (showXAxis) {
      <canvas #xCanvas class="mc xaxis-h"></canvas>
    }
    @if (hoverIdx !== null && showTooltip) {
      <div
        #ttEl
        class="tt"
        [style.left.px]="ttX"
        [style.top.px]="ttY"
        [style.transform]="'translate(calc(-50% + ' + ttShift + 'px), -100%)'"
      >
        <div class="tt-hdr">{{ ttHeader }}</div>
        <div class="tt-sep"></div>
        @for (r of ttRows; track r.label) {
          <div class="tt-row">
            <span class="tt-lbl">{{ r.label }}</span>
            <span class="tt-val" [style.color]="r.color">{{ r.value }}</span>
          </div>
        }
      </div>
    }
  </div>
</div>
